@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #202226;
  --second-bg-color: #262a31;
  --third-bg-color: #2e3339;
  --forth-bg-color: #22272e;

  --primary-font-color: #fefeff;
  --second-font-color: #e8ebec;
  --third-font-color: #9fa3a9;
  
  --gray-color: #9fa3a9;
  --gray-color-2: #5c6571;

  --primary-orange-color: #d67c31;
  --second-orange-color: #fa9f42;
  --third-orange-color: #fbbf71;

  --primary-danger-color: #ff727a;
  --primary-info-color: #6cdbfb;
  --primary-success-color: #90ed92;
  --primary-warning-color: #fdda6e;

  --second-danger-color: #fe4461;
  --second-info-color: #3fc0f9;
  --second-success-color: #6ce078;
  --second-warning-color: #fdc83f;

}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Ustawienia domyślne dla elementów HTML */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: var(--primary-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Ukrywanie elementów */
.hidden {
  display: none;
}

/* Układ strony */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Typografia */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2;
  
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}


p {
  font-size: 16px;
  margin-bottom: 1.5rem;
}

.body-text {
  font-size: 16px;
}

.body-text-2 {
  font-size: 14px;
}
